libraries/
.idea/
.vscode/

*.DS_Store

##--------------------------------------------------------
## LaTeX intermediate files
##--------------------------------------------------------
*.aux
*.bbl
*.bcf
*.blg
*.brf
*.idx
*.ilg
*.ind
*.ist
*.lof
*.lot
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.xdv
*.xml
*.fdb_latexmk
*.fls
*.pdf